 @charset "gb2312";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{ font-size:12px; font-family:"Microsoft YaHei",微软雅黑;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol.li{list-style:none; list-style-type:none}
a{text-decoration:none; color:#333}
a:hover{text-decoration:none;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
.block{ display:block; border:1px solid #dedede; padding:5px 10px; margin-bottom:10px;}
img{ border:none}
fieldset{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
.clear{ clear:both}
.h10{ height:10px; margin:0px; padding:0;}
.nav{padding:10px 0; border-top:none}
.b10{ margin-bottom:10px}
.red{ color:#f00}
.l{ float:left}
.r{ float:right}
.table{ margin-bottom:10px}
.titleh5,.titleh5 a,#ordain dt{ font-size:14px; color:#235980;margin-bottom:0;font-weight:normal; line-height:35px; height:35px;}
.pr { position:relative}
.pa { position:absolute}

/*公共行高*/
.line0{ display:block; height:1px; line-height:1px; border-bottom:1px #ddd solid; clear:both;}
.line1{ display:block; height:1px; line-height:1px; clear:both;}
.line10{ display:block; height:10px; line-height:10px; clear:both;}
.line20{ display:block; height:20px; line-height:20px; clear:both;}
.line30{ display:block; height:30px; line-height:30px; clear:both;}
.line40{ display:block; height:40px; line-height:40px; clear:both;}
.line50{ display:block; height:50px; line-height:50px; clear:both;}
.line60{ display:block; height:60px; line-height:60px; clear:both;}
.line70{ display:block; height:60px; line-height:60px; clear:both;}


/*公共颜色*/
.huise{ color:#999;}
.green{ color:#7EAE3E;}
.red{ color:#C00; font-size:20px;}
.red2{ color:#F60;}
.orger { color:#F60 !important;}
.color666 a{ color:#bbb !important;;}

/*公共底部*/
#stickey_footer { bottom: 0;height:60px;left: 50%;margin: 0 auto 0 -50%;padding: 0;position: fixed;width:100%; border-top:1px #dddddd solid; background-color:#FFF;}
#footer_menu {margin: 0;padding: 0;width:auto;}
#footer_menu li {list-style: none;float: left;font-size:14px;padding-top:10px; padding-bottom:10px;background: rgba(0, 0, 0, 0.03); width:20%; text-align:center; line-height:20px;}
#footer_menu li:hover {background:#202020;background: rgba(0, 0, 0, 0.12);}
#footer_menu li a {display: block;color: #AFAFAF;text-decoration: none; font-size:14px; font-weight:normal;}
#footer_menu li a:hover {display: block;color:#333;text-decoration: none; font-size:14px; font-weight:normal;}
.footcol{ color:#FF6A22;}
#footer_menu li.on { color:#f60;}
#footer_menu li.on a{ color:#f60;}


/*首页*/
.home-head{ text-align:center; border-bottom:1px #ddd solid; height:40px; line-height:40px; background-color:#F8F8F8; font-size:18px; color:#f60; font-weight:normal; position:fixed; width:100%;z-index:99999; margin-top:-1px; top:0;}

#backgrounds {position:absolute; width:100%; height:100%; overflow:hidden; z-index:998; top:0px; left:0px; background:rgb(50,50,50);background:rgba(0,0,0,0.8); border:1px #000 solid; display:none;}
#contents {position:absolute; width:280px; height:176px; line-height:30px; text-align:center; z-index:999; top:0; right:0; background: url(../img/tishi.png) no-repeat; border-radius:5px; display:none;}

.pop { position:absolute; left:38%; margin-left:-100px; top:40px; z-index:999; background:#ffffff; width:280px;-moz-border-radius:6px; -khtml-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;display:none;}
.pop ul { padding:0 0 10px 0}
.pop ul h6{height:45px; line-height:45px; background-color:#51BE01; font-size:15px; color:#FFF;}
.pop ul li{height:42px; line-height:42px; border-bottom:1px #F6F6F6 solid;}
.pop ul li a{height:42px; line-height:42px; color:#000;font-size:16px; display:block}
.pop ul li a.on{height:42px; line-height:42px; color:#51BE01;font-size:16px; display:block;}


.slide {position:relative; height:auto; margin-top:1px; margin-top:41px;}
.slide img{ width:100%; max-height:1650px; height: expresion(this.height > 1650 ? 1650px : ‘auto’;);}

.slide2 {position:relative; height:auto; margin-top:41px;}
.slide2 img{ width:100%; max-height:1650px; height: expresion(this.height > 1650 ? 1650px : ‘auto’;); -moz-border-radius:10px; -khtml-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;}

.slide3 {position:relative; height:auto; margin-top:41px;}
.slide3 img{ width:100%; max-height:1650px; height: expresion(this.height > 1650 ? 1650px : ‘auto’;); }

.focusBox { position: relative; margin-top:41px; display:block;overflow:hidden ; height:180px;}
.focusBox .pic{ z-index:0; height:auto;}
.focusBox .pic img { width:100%; max-height:1650px; height: expresion(this.height > 1650 ? 1650px : ‘auto’;); display: block; }
.focusBox .hd { width:100%; position: absolute; bottom: 10px; text-align: center; font-size:0; z-index:1; }
.focusBox .hd li{margin: 0 5px; background: url(../images/dot.png) no-repeat 0 -16px; height: 16px; overflow: hidden; width: 16px; cursor: pointer; display:inline-block; *display:inline; zoom:1;  _background: url(../images/dot8.png) no-repeat 0 -16px;	}
.focusBox .hd .on{ background-position:0 0; }
.focusBox .prev, .focusBox .next { width: 60px; height: 90px; margin: -60px 0 0; display: none; background: url(../images/ad_ctr.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; filter:alpha(opacity=20);opacity:0.2;  }
.focusBox .prev { left: 0; }
.focusBox .next { background-position: 0 -90px; right: 0; }
.focusBox .prev:hover,	.focusBox .next:hover { filter:alpha(opacity=50) !important;opacity:0.5 !important;  }


.home-message{ text-align:center; height:40px; line-height:40px; border-bottom:1px #ddd dashed;}
.home-message a{ color:#2E2E2E; font-size:15px;}
.home-message a:hover{ color:#F60; font-size:15px;}

.home-icon{ padding:10px;}
.home-icon td{ text-align:center; padding-top:10px;}
.home-icon th{ text-align:center; padding-top:10px; padding-bottom:10px;}
.home-icon th a{ font-size:14px; font-weight:normal;}
.icon{-moz-border-radius:60px; -khtml-border-radius:60px; -webkit-border-radius:60px; border-radius:60px; display:inline-block; width:40px; height:38px; text-align:center; padding:12px 10px 8px 10px;}
.icon3{-moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; display:inline-block; width:40px; height:38px; text-align:center; padding:12px 10px 8px 10px;}

.col1{ background-color:#6CC140; color:#FFF;}
.col2{ background-color:#F5C032; color:#FFF;}
.col3{ background-color:#42BDE7; color:#FFF;}
.col4{ background-color:#FF565B; color:#FFF;}

.col5{ background-color:#FE8864; color:#FFF;}
.col6{ background-color:#42BDE7; color:#FFF;}
.col7{ background-color:#10C2CE; color:#FFF;}
.col8{ background-color:#CC6666; color:#FFF;}

.col9{ background-color:#97B921; color:#FFF;}
.col10{ background-color:#52A0E8; color:#FFF;}
.col11{ background-color:#D863B1; color:#FFF;}
.col12{ background-color:#FF6367; color:#FFF;}

.col13{ background-color:#F60; color:#FFF;}
.col14{ background-color:#ccc; color:#FFF;}

.pnum {right:-16px; top:-16px; font-size:16px; padding:4px 8px; -moz-border-radius:26px; -khtml-border-radius:26px; -webkit-border-radius:26px; border-radius:26px;background:#F00}
.pnun {  font-size:14px; padding:2px 7px; -moz-border-radius:26px; -khtml-border-radius:26px; -webkit-border-radius:26px; border-radius:26px;background:#F00; color:#FFF}

/*内页*/
.list-head{ text-align:center; border-bottom:1px #ddd solid; height:40px; line-height:40px; background-color:#F8F8F8; font-size:18px; color:#111; font-weight:normal;position:fixed; width:100%;z-index:9999999; top:0; margin-top:-1px;}
.goback{ float:left; padding-top:12px; margin-left:10px;}
.list-head span{ float:right;}
.list-head span a{ font-size:16px; padding-right:10px; color:#09C;}
.list-head span a i{ padding-right:3px;}
.list-head>a>[class*="fa-"]:first-child{ padding-right:10px}

.list-head2{ border-bottom:1px #ddd solid; height:40px; line-height:40px; background-color:#F8F8F8; font-size:16px; color:#111; position:fixed; width:100%;z-index:9999999; top:0; margin-top:-1px;}
.list-head2 span{ float:right;}
.list-head2 span a{ font-size:16px; padding-right:10px; color:#09C;}
.list-head2 span a i{ padding-right:3px;}
.list-head2>a>[class*="fa-"]:first-child{ padding-right:10px}
.t-mun{float:right; background-color:#F60; color:#FFF; font-size:13px; margin:2px 5px 0 4px; height:22px; line-height:19px; padding:0 3px;-moz-border-radius:15px; -khtml-border-radius:15px; -webkit-border-radius:15px; border-radius:15px;}

.bianmin{ padding:10px;}
.bianmin ul li{ -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; padding:8px 20px; margin-top:12px; overflow:hidden;
background-image: -moz-linear-gradient(top, #ffffff, #e2e2e2); /* Firefox */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #e2e2e2)); /* Saf4+, Chrome */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e2e2e2', GradientType='0'); /* IE*/}
.bianmin ul li h2{ height:25px; line-height:25px;}
.bianmin ul li h2 a{ font-size:16px; color:#222; font-weight:normal;}
.bianmin ul li h3{ font-size:13px; color:#CCC; font-weight:normal;}
.bianmin ul li h3 a{ font-size:13px; color:#666; line-height:25px;}
.bm-r{ float:right; padding-top:10px;}
.bm-r a{ color:#999;}

.bm1{ border-left:10px #8D67E0 solid; border-bottom:1px #CCCCCC solid; border-right:1px #CCCCCC solid; border-top:1px #CCCCCC solid;}
.bm2{ border-left:10px #688CE2 solid; border-bottom:1px #CCCCCC solid; border-right:1px #CCCCCC solid; border-top:1px #CCCCCC solid;}
.bm3{ border-left:10px #37A1DB solid; border-bottom:1px #CCCCCC solid; border-right:1px #CCCCCC solid; border-top:1px #CCCCCC solid;}
.bm4{ border-left:10px #688CE2 solid; border-bottom:1px #CCCCCC solid; border-right:1px #CCCCCC solid; border-top:1px #CCCCCC solid;}


/*小区论坛*/
.xqbbs{ padding:5px;}
.xqbbs ul li{ padding:3px; overflow:hidden; border-bottom:1px #CCCCCC dashed;}
.xqbbs ul li div h2{ height:30px; line-height:30px; overflow:hidden;}
.xqbbs ul li div h2 a{ font-size:18px; color:#222; font-weight:normal;}
.xqbbs ul li div h3{ font-size:13px; color:#666; font-weight:normal; line-height:18px;}
.xqbbs ul li i{ color:#999;}
.bm-r a{ color:#999;}
.bbsicon{ width:60px; height:60px; }
.bbsicon img{ width:50px; height:50px;}
.bbsbt{ text-align:left; padding-top:0px;}



/*小区活动*/
.activity{ padding:10px; margin-top:41px;}
.activity ul li{ padding:7px; margin-top:12px; overflow:hidden; border-bottom:1px #eee solid;}
.activity ul li h2{ line-height:22px;}
.activity ul li h2 a{ font-size:18px; font-weight:normal; color:#222; line-height:23px;}
.activity ul li h3{ line-height:25px; height:25px; font-size:12px; font-weight:normal; color:#999;}
.activity ul li ul li{ border:0; float:left; padding:0px; margin:5px 3px 0 0;}
.activity ul li ul li img{ width:92px; height:74px; -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}


/*小区论坛2*/
.xqbbs2{ padding:5px; margin-top:41px;}
.xqbbs2 ul li{ padding:7px; margin-top:12px; overflow:hidden; border-bottom:1px #eee solid;}
.xqbbs2 ul li h2 div{ float:right; padding-left:20px;}
.xqbbs2 ul li h2 div a{ color:#F00; text-decoration:underline;}
.xqbbs2 ul li h2 .del a{ color:#00F; text-decoration:underline;}
.xqbbs2 ul li h2 a{ font-size:18px; color:#555355; line-height:22px; font-weight:normal;}
.xqbbs2 ul li h2 b{ font-weight:normal; margin-left:5px;}
.newicon{ background-color:#EC7570; -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; color:#FFF; font-size:12px; text-align:center; padding:2px 3px;}
.jingicon{ background-color:#7190D1; -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; color:#FFF; font-size:12px; text-align:center; padding:2px 3px;}
.xqbbs2 ul li h3{ line-height:25px; height:25px; overflow:hidden; width:220px; font-size:13px; font-weight:normal; color:#777; margin-top:5px; text-align:right; float:right; padding-right:10px;}
.xqbbs2 ul li h3 span{ float:right;}



/*小区论坛3*/
.xqbbs-content{ padding:10px; background-color:#f2f2f2; overflow:hidden; margin-top:41px;}
.xqbbs-content h2{line-height:25px; font-size:18px;}
.xqbbs-content h2 div{ float:right;}
.xqbbs-content h2 div span{ font-weight:normal; margin-left:5px; padding:1px 2px;}
.xqbbs-content .xqbbs-info{ border-bottom:1px #ddd solid; height:auto; overflow:hidden; margin-top:10px; padding-bottom:10px;}
.xqbbs-content .xqbbs-info img{ float:left; -moz-border-radius:40px; -khtml-border-radius:40px; -webkit-border-radius:40px; border-radius:40px; width:50px; height:50px;}
.xqbbs-content .xqbbs-info .x-i-n{ float:left; margin-left:10px;}
.xqbbs-content .xqbbs-info .x-i-n h3{ height:25px; line-height:25px;}
.xqbbs-content .xqbbs-info .x-i-n h3 a{ font-size:15px; color:#369; }
.xqbbs-content .xqbbs-info .x-i-n h4{ font-size:13px; color:#777; height:22px; line-height:22px; font-weight:normal;}
.xqbbs-content .x-i-info{ float:left; padding-top:15px; font-size:16px; line-height:25px;}
.xqbbs-content .imli li{ border:0; float:left; padding:0px; margin:5px 3px 0 0;}
.xqbbs-content .imli li img{ width:96px; height:78px; -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.xqbbs-content .icli li{ border:0; float:left; padding:0px; margin:5px 3px 0 0; clear:both}
.r-ti{ font-size:15px; color:#C30;}

.xqbbs3{ padding:5px; margin-top:41px;}
.xqbbs3 ul li{ border-bottom:1px #EEE solid; height:auto; overflow:hidden; margin-top:10px; padding-bottom:5px;}
.xqbbs3 .xqbbs-info td{ vertical-align:top;}
.xqbbs3 .xqbbs-info img{ -moz-border-radius:40px; -khtml-border-radius:40px; -webkit-border-radius:40px; border-radius:40px; width:40px; height:40px;  }
.xqbbs3 .xqbbs-info .x-i-n{ margin-left:10px;}
.xqbbs3 .xqbbs-info .x-i-n h3{ height:25px; line-height:25px;}
.xqbbs3 .xqbbs-info .x-i-n h3 span{ float:right; padding-right:8px;}
.xqbbs3 .xqbbs-info .x-i-n h3 span a{ font-size:16px; color:#F30; font-weight:normal;}
.xqbbs3 .xqbbs-info .x-i-n h3 a{ font-size:16px; color:#369; font-weight:normal;}
.xqbbs3 .xqbbs-info .x-i-n h4{ font-size:12px; color:#777; height:21px; line-height:21px; font-weight:normal;}
.xqbbs3 .xqbbs-info h5{ height:22px; line-height:22px; font-weight:normal; padding-top:6px; padding-right:5px; padding-left:5px;}
.xqbbs3 .xqbbs-info h5 a{ font-size:14px; color:#F30;}
.xqbbs3 .xqbbs-info .x-i-n .xqbbs-huifu{ padding:4px 8px 8px 0; font-size:16px; color:#444; line-height:25px;}


.xqbbs3 .xqbbs-info2{ margin-left:50px;}
.xqbbs3 .xqbbs-info2 .x-i-n{margin-left:10px;}
.xqbbs3 .xqbbs-info2 .x-i-n h3{ height:25px; line-height:25px;}
.xqbbs3 .xqbbs-info2 .x-i-n h3 a{ font-size:16px; color:#369; font-weight:normal;}
.xqbbs3 .xqbbs-info2 .x-i-n h4{ font-size:12px; color:#777; height:21px; line-height:21px; font-weight:normal;}
.xqbbs3 .xqbbs-info2 .x-i-n .xqbbs-huifu2{ padding:2px 8px 8px 0; font-size:16px; color:#444; line-height:25px;}



/*小区论坛4*/
.xqbbs-sumbit{ padding:10px; margin-top:41px;}
.xqbbs-sumbit .x-s-k{ width:100%;}
.xq4-textfield{ width:100%; height:120px; font-size:15px; padding:8px 0; line-height:23px;}
.xq4-button{ width:100%; height:45px; line-height:45px; background-color:#5F9BF8; border:0; font-size:19px; font-weight:bold; color:#FFF; -moz-border-radius:40px; -khtml-border-radius:40px; -webkit-border-radius:40px; border-radius:40px; display:block; text-align:center}
.larg25 { float:left; width:20%; margin:5px 10px 0 0}
.larg25 img { width:100%;}
.larg33 { float:left; width:95px; height:95px; margin:5px 5px 0 0; overflow:hidden}
.larg33 img { width:95px;}
.larg50 { float:left; width:148px; height:148px; margin:5px 5px 0 0; overflow:hidden}
.larg50 img { width:148px;}
.larg100 { float:left; width:300px; height:300px; margin:5px 5px 0 0; overflow:hidden}
.larg100 img { width:300px; }

/*便民服务-快递*/
.kuaidi{ margin-top:41px; }
.kuaidi ul li{ border-bottom:1px #ddd solid; height:auto; overflow:hidden; margin-top:10px; padding:12px;}
.kuaidi ul li h2{ font-size:16px; color:#333; line-height:26px;}
.kuaidi ul li h3{ font-size:14px; color:#777; line-height:26px; font-weight:normal;}
.kuaidi ul li h4{ font-size:15px; color:#3B6B9D; line-height:26px; font-weight:normal; font-family:Arial, Helvetica, sans-serif; font-weight:bold;}
.kuaidi ul li h2 i{ width:26px; text-align:center}
.kuaidi ul li h3 i{ width:26px; text-align:center}
.kuaidi ul li h4 i{ width:26px; text-align:center}


/*便民服务-明细表*/
.bianmin-info{ padding:0 10px; margin-top:41px;}
.bianmin-info .bianmin-top{ border-bottom:1px #ddd solid; padding:15px 0; height:auto; overflow:hidden;}
.bianmin-info .bianmin-top .bm-top-1{}
.bianmin-info .bianmin-top .bm-top-1 img{ float:left; width:90px; height:90px; -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.bianmin-info .bianmin-top .bm-top-1 th{ font-size:15px; text-align:left; line-height:23px; padding-left:15px; vertical-align:top;}
.bm-button{ width:100%; height:40px; line-height:40px; background-color:#2FA71F; border:0; font-size:18px; font-weight:normal; color:#FFF; -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.bm-buttona{ width:100%; height:40px; line-height:40px; background-color:#2FA71F; border:0; font-size:18px; font-weight:normal; color:#FFF; -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; display:block; text-align:center}
.bm-buttona a{ color:#FFF}
.bianmin-info .bianmin-top .bm-top-1 h3{ line-height:25px; padding-top:10px; font-size:14px; color:#666;}

.bianmin-info .bm-top-2{ margin-top:10px;}
.bianmin-info .bm-top-2 h2{ font-size:18px; color:#666; height:30px; line-height:30px; font-weight:normal;}
.bianmin-info .bm-top-2 .bm-info{ padding-top:10px; line-height:23px; font-size:14px; color:#666; border-bottom:2px #CCCCCC solid; padding-bottom:15px;}
.bianmin-info .bm-top-2 .bm-pl{ padding-top:10px; line-height:23px; font-size:13px; color:#666;}
.bianmin-info .bm-top-2 .bm-pl a{ font-size:16px;}



/*会员登录*/
.login-a{ padding:0 10px; margin-top:15px;}
.login-a .login-k{ background-color:#fff; -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:1px #ddd solid; height:122px;}
.login-a .login-k h2{ line-height:58px; padding-left:20px; font-size:16px; font-weight:normal;}
.login-a .login-k h2 div{ float:left;}
.login-a .login-k h2 span{ float:right; padding-right:10px;}
.login-a .login-k h2 span a{ font-size:20px; color:#999;}
.login-i{ border:0; width:70%; height:28px; line-height:28px; color:#F60;}
.login-a .login-forget{ margin-top:20px; font-size:14px;}
.login-a .login-forget span{ float:right;}
.login-a .login-forget span a{ font-size:15px; color:#F30;}
.login-button{ width:100%; height:48px; line-height:48px; background-color:#5F9BF8; border:0; font-size:19px; color:#FFF; -moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; text-align:center}
.login-button a{ color:#FFF; display:block}
.login-a h4{ height:30px; line-height:30px; text-align:center;}
.login-a h4 a{ font-size:16px; color:#06C; font-weight:normal;}


/*会员注册*/
.zhuce-a{ margin-top:41px;}
.zhuce-a .zhuce-k{ height:auto; overflow:hidden;}
.zhuce-a .zhuce-k ul li{ height:58px; border-bottom:0px #ddd solid; font-size:15px;  margin:0 10px; display:block; clear:both}
.zhuce-a .zhuce-t{ height:auto; overflow:hidden; padding:10px;}
.zhuce-a .zhuce-t td{ height:48px; line-height:48px; border-bottom:0px #ddd solid; font-size:15px;}
.zhuce-a .zhuce-t th{ height:8px; line-height:8px;}
.zhuce-choose{ font-size:14px; border:0; width:100%;}
.zhuce-choose2{ font-size:14px; border:0;}
.zhuce-choose3{ font-size:14px; border:0; width:99%;}

.zhuce-choose-b{ font-size:14px; background:#FFF; width:100%; height:45px; line-height:45px; border:1px #ddd solid; -moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
.zhuce-choose3-b{ font-size:14px; background:#FFF; width:99%; height:45px; line-height:45px; border:1px #ddd solid; -moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
.zhuce-i-b{width:99.4%; background:#FFF; height:21px; line-height:21px; color:#F60; border:1px #ddd solid; -moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; text-indent:10px; padding:11px 0}
.zhuce-y-b{width:97.4%; background:#FFF; height:21px; line-height:21px; color:#F60;;; border:1px #ddd solid; -moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; text-indent:10px; padding:11px 0}

.zhuce-i{ border:0; width:100%; height:28px; line-height:28px; color:#ccc;}
.zhuce-s{ width:98.5%;  height:21px; line-height:21px; padding:11px 0; text-indent:10px; color:#555; border:1px #ddd solid;}
.zhuce-y{ border:0; width:99%; height:28px; line-height:28px; color:#ccc;}
.zhuce-button{ width:100%; height:48px; line-height:48px; background-color:#FF4700; border:0; font-size:19px; color:#FFF; -moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; text-align:center}
.zhuce-button a{ color:#FFF; display:block}
.zhuce-button2{ width:100%; height:48px; line-height:48px; background-color:#6599FF; border:0; font-size:19px; color:#FFF; -moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; text-align:center}
.zhuce-button2 a{ color:#FFF; display:block}
.zhuce-button3{width:49%; height:48px; line-height:48px; background-color:#6599FF; border:0; font-size:19px; color:#FFF; -moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; text-align:center}
.zhuce-button3 a{ color:#FFF; display:block}
.zhucetouxiang{ padding:0px 10px; text-align:center; margin-top:41px;}
.zhucetouxiang img{ -moz-border-radius:10px; -khtml-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; width:100px; height:100px;}
.jpgj a{ width:100%; line-height:38px; text-indent:10px; font-size:16px; margin-bottom:10px; background:#D1D1D1; display:block}
.zhuce-a .zhuce-ks{ background-color:#fff; -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:1px #ddd solid; height:auto; overflow:hidden; margin-top:10px; padding:10px; font-size:16px; line-height:24px;}

input.blus::-webkit-input-placeholder {color:#F60;}
input.blus:-moz-placeholder {color:#F60; }
input.bluc::-webkit-input-placeholder { color:#F60;}
input.bluc:-moz-placeholder {color:#F60; }


.zhuce-i-v{width:99.4%; background:#FFF; height:43px; line-height:43px; color:#F60; border:1px #ddd solid; -moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
.zhuce-i-v .mob { left:0; top:10px; width:40px; text-align:center; color:#888; height:26px; line-height:26px; border-right:1px #CCCCCC solid}
.zhuce-i-v .bluc {  left:50px; top:0; height:21px; line-height:21px; color:#F60; padding:11px 0; border:0;width:90%; }


/*我的账单*/
.mybill{ padding:0 10px; margin-top:56px;}
.mybill .my-k{ background-color:#61A5E4; -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:1px #ddd solid; height:auto; overflow:hidden;}
.mybill .my-k h2{ padding:15px 10px;}
.mybill .my-k h2 div { font-size:22px; font-weight:normal; color:#fff;}
.mybill .my-k h2 span{ font-size:18px; float:right; font-weight:normal; color:#eee;}
.mybill .my-k h2 span b{ font-size:25px; font-weight:bold; color:#FFF;}
.mybill .my-k .my-nk{ padding:10px;}
.mybill .my-k .my-nk .my-nkk{ background-color:#fff; -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:1px #ddd solid; height:auto; overflow:hidden; padding:15px 0;}
.mybill .my-k .my-nk .my-nkk li{ float:left; border-right:1px #999999 dotted; text-align:center; width:33%; font-size:15px;}
.mybill .my-k .my-nk .my-nkk li b{ font-size:17px;}
.jf-button{ width:100%; height:48px; line-height:48px; background-color:#6CC143; border:0; font-size:18px; font-weight:normal; color:#FFF; -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; display:block; text-align:center}
.jf-button a { color:#FFF; display:block}

.my-qingdan{padding:0 10px; margin-top:15px;}
.my-qingdan ul li{background-color:#ffffff; -moz-border-radius:25px; -khtml-border-radius:25px; -webkit-border-radius:25px; border-radius:25px; border:1px #ddd solid; line-height:26px; overflow:hidden; font-size:14px; padding:5px 20px; margin-top:12px;}
.my-qingdan ul li span{ float:right;}
.my-cc{ font-size:13px; color:#F60; top:-3px; position:relative;}
.my-cc2{ font-size:23px; color:#999;}
.my-qingdan ul dl{ height:30px; line-height:30px; padding-top:10px; padding-right:10px;}
.my-qingdan ul dl span{ float:right;}
.my-qingdan ul dl span a{ font-size:16px;}



/*我的账户主页*/
.myhomepage{ background:url(../images/homepagebg.gif) repeat-x top; height:80px;}
.myhomepage .mytouxiang{ float:left; padding:10px 5px 5px 15px;}
.myhomepage .mytouxiang img{ -moz-border-radius:40px; -khtml-border-radius:40px; -webkit-border-radius:40px; border-radius:40px; width:50px; height:50px;}
.myhomepage .myname{ float:left; font-size:18px; color:#FFF; font-weight:normal; padding-top:25px; padding-left:10px;}
.myhomepage .myicon{ float:right; padding-top:18px; padding-right:12px;}
.myhomepage .myicon a{ font-size:18px; color:#FFF; font-weight:normal;}
.mywuye{ height:60px; line-height:60px; border-bottom:1px #CCCCCC solid; padding:0 20px;}
.mywuye b{ font-size:18px; color:#09C; font-weight:normal;}
.mywuye span{ float:right; color:#666;}

.mymenu{ border-top:10px #EAEAEA solid; padding:0 20px;}
.mymenu ul li{background-color:#ffffff; border-bottom:1px #ddd solid; line-height:20px; overflow:hidden; font-size:14px; padding:5px 0px; margin-top:12px;}
.mymenu ul li span{ float:right; padding-top:6px;}
.mymenu ul li b{ line-height:35px; font-size:16px; font-weight:normal;}
.icon2{-moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; display:block; width:25px; height:23px; text-align:center; padding:7px 5px 5px 5px; float:left;}
.font20{ font-size:22px;}


/*维修服务*/
.wx-sumbit{ padding:10px; background-color:#FFF; border-bottom:1px #ddd solid; margin-top:41px;}
.wx-sumbit .x-s-k{ width:100%; }
.wx-sumbit .x-s-k textarea{ font-size:16px;}
.wx-sumbit .x-s-k2{ width:100%; border:1px #ddd solid; height:46px; line-height:46px; font-size:14px; color:#666;}
.fatie-k{ width:70%; border:0; font-size:15px; color:#069; height:25px; line-height:25px;}
.fatie-k2{ width:70%; border:0; font-size:15px; color:#999; height:23px; line-height:23px;}
.wx-textfield{ width:100%; height:120px;-moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:1px #ddd solid; font-size:15px; color:#000;  padding:8px 0; line-height:23px;}
.s-sumbit{ text-align:right;}
.qx-button{ width:90px; height:30px; line-height:30px; background-color:#fff; border:0; font-size:17px; font-weight:bold; color:#222; -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:1px #ddd solid; display:inline-block; text-align:center}
.qr-button{ width:90px; height:30px;line-height:30px; background-color:#6CC143; border:0; font-size:17px; font-weight:bold; color:#fff; -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;display:inline-block; text-align:center}

.qr-buttonno{ width:70px; height:30px; background:none; border:0; font-weight:bold; color:#fff;font-size:16px; color:#09C;}

.uppic{ margin:15px auto; width:130px;}
.uppic ul li{ text-align:center; width:130px; float:left}
.uppic ul li p{ line-height:20px; padding-top:5px;}



/*周边活动*/
.zhoubianinfo{ margin-top:41px;}
.zhoubianinfo .zb-list{ margin-top:15px; height:170px; border-bottom:1px #ddd solid; border-top:1px #ddd solid; background-color:#FFF;}
.zhoubianinfo .zb-list .zb-nr{ padding:10px;}
.zhoubianinfo .zb-list .zb-nr h2{ line-height:25px; height:50px; overflow:hidden;}
.zhoubianinfo .zb-list .zb-nr h2 a{ font-size:18px; font-weight:normal; color:#000;}
.zhoubianinfo .zb-list .zb-nr h3{ line-height:26px; height:26px; font-size:13px; color:#888; font-weight:normal; overflow:hidden;}
.zhoubianinfo .zb-list .zb-nr h4{ line-height:26px; height:26px; font-size:13px; color:#888; font-weight:normal; overflow:hidden;}
.zhoubianinfo .zb-list .zb-nr h2 span{  -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; padding:1px 6px; font-size:14px; color:#fff; background-color:#F60;}
.zhoubianinfo .zb-list .zb-tog{ padding:12px 10px 0; border-top:1px #ddd dashed; font-size:15px; color:#C60;}




/*优惠券*/
.youhuiquan{ padding:10px; margin-top:41px;}
.youhuiquan .yhq-k{ -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:1px #CCCCCC solid; background-color:#fff; margin-top:10px;}
.youhuiquan .yhq-k th{ width:120px; padding:2px 8px 2px 2px;}
.youhuiquan .yhq-k th img{ width:120px; height:120px;}
.youhuiquan .yhq-k td{ vertical-align:top; padding:8px 6px;}
.youhuiquan .yhq-k td h2 a{ font-size:16px; font-weight:normal; line-height:28px; height:28px; color:#000;}
.youhuiquan .yhq-k td dl{ line-height:21px; color:#666;}
.youhuiquan .yhq-k td h3{ margin-top:5px; font-weight:normal;}
.youhuiquan .yhq-k td h3 b{ font-size:16px; color:#F30;}
.youhuiquan .yhq-k td h3 s{ color:#666;}
.youhuiquan .yhq-k td h3 span{ float:right; padding-right:20px;}



/*我的账单*/
.mybill2{ padding:0 10px; margin-top:56px;}
.mybill2 .my-k2{ padding:10px; -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:1px #B0CAFF solid; height:auto; overflow:hidden; color:#333; font-size:14px; line-height:25px;background-image: -moz-linear-gradient(top, #ffffff, #D9E6FF); /* Firefox */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #D9E6FF)); /* Saf4+, Chrome */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#D9E6FF', GradientType='0'); /* IE*/}}

.mybill2 .yezhubiao td{ background-color:#FFF; line-height:23px; padding:2px;}



/*优惠券详情*/
.youhuiquan-info{ padding:0 10px; margin-top:56px;}
.youhuiquan-info .youhuiquan-s{ border:1px #ddd solid; background-color:#FFF; padding:10px;}
.youhuiquan-info .youhuiquan-s img{ width:100%; max-height:1650px; height: expresion(this.height > 1650 ? 1650px : ‘auto’;);}
.youhuiquan-info .youhuiquan-s h2{ padding-top:10px;}
.youhuiquan-info .youhuiquan-s h2 b{ color:#690; font-size:17px; font-weight:normal;}
.youhuiquan-info .youhuiquan-s h2 span{ float:right;}
.youhuiquan-info .youhuiquan-s h2 span a strong{ padding:6px 10px; font-size:15px; font-weight:normal; color:#FFF; background-color:#F60;}
.youhuiquan-info .youhuiquan-s h2 span a font{ padding:6px 10px; font-size:15px; font-weight:normal; color:#FFF; background-color:#669900;}
.youhuiquan-info .youhuiquan-j{ border-bottom:1px #ddd solid; padding:10px; font-size:14px; line-height:25px; color:#555;}
.youhuiquan-info .youhuiquan-y{ border-bottom:1px #ddd solid; padding:10px; font-size:14px; line-height:25px; color:#555;}
.youhuiquan-info .youhuiquan-y h3{ font-size:16px; height:30px; line-height:30px; color:#000;}

.youhuiquan-info .youhuiquan-l{ padding:10px; font-size:14px; line-height:25px; color:#555;}
.youhuiquan-info .youhuiquan-l h3{ font-size:16px; height:30px; line-height:30px; color:#000;}
.youhuiquan-info .youhuiquan-l ul li{ line-height:40px; border-bottom:1px #ddd solid;}
.youhuiquan-info .youhuiquan-l ul li i{ font-size:20px; width:25px; color:#369}






/*会员卡首页*/
.vipbg{ background:url(../images/vipbg.jpg) top repeat-x; height:220px; padding-top:35px; margin-top:41px;}
.vipbg .vipka{ background:url(../images/vipka.png) no-repeat center; width:300px; height:173px; margin:0 auto;}
.vipbg .vipka h2{ height:30px; line-height:30px; padding-left:50px; padding-right:5px;}
.vipbg .vipka h2 b{ font-size:14px;}
.vipbg .vipka h2 span{ float:right;}
.vipbg .vipka h3{ height:32px; line-height:32px; padding-left:40px; padding-right:5px; margin-top:85px; font-size:18px;}
.vipbg .vipka h3 b{ font-family:Arial, Helvetica, sans-serif;}
.vipbg .vips{ width:270px; margin:0 auto; height:50px; line-height:50px; text-shadow: 1px 1px 1px #ffffff; font-size:14px; background:url(../images/shouji.gif) left no-repeat; padding-left:30px; color:#333;}


.member-vip .member-m{ padding:10px;}
.member-vip .member-m .member-nkk{ background-color:#fff; -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:1px #ddd solid; height:auto; overflow:hidden; padding:15px 0;}
.member-vip .member-m .member-nkk li{ float:left; border-right:1px #999999 dotted; text-align:center; width:33%; font-size:15px;}
.member-vip .member-m .member-nkk li b{ font-size:17px;}

.member-vip .member-k{ padding:10px;}
.member-vip .member-k .member-kkk{ background-color:#fff; -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:1px #ddd solid; height:auto; overflow:hidden;}
.member-vip .member-k .member-kkk li{ border-bottom:1px #999999 dotted; font-size:15px; line-height:35px; padding:5px 10px;}
.member-vip .member-k .member-kkk li span{ float:right;}
.member-vip .member-k .member-kkk li span div{ font-size:14px; color:#FFF; -moz-border-radius:15px; -khtml-border-radius:15px; -webkit-border-radius:15px; border-radius:15px; padding:1px 6px; float:left; height:18px; line-height:17px; margin-top:5px;}
.member-vip .member-k .member-kkk li span i{ color:#999;}




/*我的维修服务*/
.myweixiu{ padding:10px; margin-top:41px;}
.myweixiu .mwx-k{ -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:1px #CCCCCC solid; background-color:#fff; margin-top:10px; padding:10px 0;}
.myweixiu .mwx-k th{ width:120px; padding:2px 8px 2px 2px;}
.myweixiu .mwx-k th img{ width:100px; height:100px; -moz-border-radius:65px; -khtml-border-radius:65px; -webkit-border-radius:65px; border-radius:65px;}
.myweixiu .mwx-k td{ vertical-align:top; padding:8px 6px;}
.myweixiu .mwx-k td h2{ line-height:21px; height:50px; overflow:hidden;}
.myweixiu .mwx-k td h2 a{ font-size:15px; font-weight:normal; color:#000;}
.myweixiu .mwx-k td dl{ line-height:21px; color:#666;}
.myweixiu .mwx-k td h3{ margin-top:5px; font-weight:normal;}
.myweixiu .mwx-k td h3 span{ float:right; padding-right:20px; font-size:15px; font-weight:bold;}



/*共用详细内容页*/
.gy-info{ padding:0 10px; margin-top:41px;}
.gy-info .bm-top-2{ margin-top:20px;}
.gy-info .bm-top-2 h2{ font-size:18px; color:#000; line-height:26px;}
.gy-info .bm-top-2 h3{ font-size:12px; color:#333; line-height:20px; padding-top:8px; font-weight:normal;}
.gy-info .bm-top-2 h3 a{ font-size:13px; color:#06C;}
.gy-info .bm-top-2 .bm-info{ padding-top:10px; line-height:25px; font-size:14px; color:#333; border-top:1px #eee solid; border-bottom:1px #CCCCCC solid; padding-bottom:15px;}
.gy-info .bm-top-2 .bm-info img{ width:100%; max-height:1650px; height: expresion(this.height > 1650 ? 1650px : ‘auto’;);}
.gy-info .bm-top-2 .bm-pl{ padding-top:10px; line-height:23px; font-size:13px; color:#666;}
.gy-info .bm-top-2 .bm-pl a{ font-size:16px;}





/*==========以下部分是Validform必须的===========*/
.Validform_checktip{ margin-top:2px; margin-left:8px;line-height:22px;height:22px;overflow:hidden;color:#999;font-size:12px;}
.Validform_right{color:#71b83d;padding-left:20px;background:url(../images/sys-icons.png) 0 0 no-repeat;}
.Validform_wrong{color:red;padding-left:20px;white-space:nowrap;background:url(../images/sys-icons.png) 0 -200px no-repeat;}
.Validform_loading{padding-left:20px;background:url(../images/onLoad.gif) no-repeat left center;}
.Validform_error{ border:1px #D9B037 solid;box-shadow:1px 1px 1px #D9B037 inset;}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left;font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#000;}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#cc0;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #ccc; border-top:none; text-align:left;}



/* page */
.turn-page {border:0px #000 solid; padding:10px 0; margin:0 auto; overflow:hidden; text-align:center}
.turn-page a,.turn-page .c,.turn-page span{ height:30px; line-height:30px; width:32px; text-align:center; display:inline-block; background:#FAFAFA; color:#333;font-size:14px;}
.turn-page a:hover {text-decoration:none; background:#EAEFF2; color:#333}
.turn-page span.home,.turn-page span.pre,.turn-page span.next,.turn-page span.last{ color:#CCC;font-size:14px;}
.turn-page em{ height:30px; line-height:30px; font-style:normal; font-size:14px; color:#666; padding-right:3px;}
.turn-page em i { padding:0 3px; font-weight:bold; font-style:normal; color:#F00}
.turn-page .home{border:1px #c0E8EB solid;}
.turn-page .home:before{font-family:FontAwesome;font-size:14px;content:"\f100"; text-align:center; padding-left:3px;}
.turn-page .pre{border:1px #c0E8EB solid; border-left:0;}
.turn-page .pre:before{font-family:FontAwesome;font-size:14px;content:"\f104"; text-align:center; }
.turn-page .c{background:#6FAED9;border:1px #6FAED9 solid; color:#FFF}
.turn-page .other{border:1px #c0E8EB solid; border-left:0;}
.turn-page .next{border:1px #c0E8EB solid; border-left:0;}
.turn-page .next:before{font-family:FontAwesome;font-size:14px;content:"\f105"; text-align:center; padding-left:3px;}
.turn-page .last{border:1px #c0E8EB solid; border-left:0;}
.turn-page .last:before{font-family:FontAwesome;font-size:14px;content:"\f101"; text-align:center; padding-left:3px;}


/* zeng_msgbox_layer */
.zeng_msgbox_layer, .zeng_msgbox_layer .gtl_ico_succ, .zeng_msgbox_layer .gtl_ico_fail, .zeng_msgbox_layer .gtl_ico_hits, .zeng_msgbox_layer .gtl_ico_clear, .zeng_msgbox_layer .gtl_end{display:inline-block;height:54px;line-height:54px;font-weight:bold;font-size:14px;color:#606060;background-image:url(../images/gb_tip_layer.png);_background-image:url(../images/gb_tip_layer_ie6.png);background-repeat:no-repeat}
.zeng_msgbox_layer_wrap{width:100%;position:fixed;_position:absolute;top:46%;left:0;text-align:center;z-index:65533}
.zeng_msgbox_layer{background-position:0 -161px;background-repeat:repeat-x;padding:0 18px 0 9px;margin:0 auto;position:relative}
.zeng_msgbox_layer .gtl_ico_succ{background-position:-6px 0;left:-45px;top:0;width:45px;position:absolute}
.zeng_msgbox_layer .gtl_end{background-position:0 0;position:absolute;right:-6px;top:0;width:6px}
.zeng_msgbox_layer .gtl_ico_fail{background-position:-6px -108px;position:absolute;left:-45px;top:0;width:45px}
.zeng_msgbox_layer .gtl_ico_hits{background-position:-6px -54px;position:absolute;left:-45px;top:0;width:45px}
.zeng_msgbox_layer .gtl_ico_clear{background-position:-6px 0;left:-5px;width:5px;position:absolute;top:0}
.zeng_msgbox_layer .gtl_ico_loading{width:16px;height:16px;border:0;background-image:url(../images/loading.gif);float:left;margin:19px 10px 0 5px}

#uploadedName img{margin-right:5px; width:100px; height:100px;}
#ck { color:#000; width:40px; display:block; padding-top:15px;}


/*便民服务-改*/
.bianmin-g{ padding:20px; margin-top:41px;}
.bianmin-g h2{ height:35px; line-height:35px; font-size:18px; font-weight:normal;}
.bianmin-g h2 i{ font-size:14px; color:#F30;}
.bianmin-g h3{ height:35px; line-height:35px; font-size:18px; font-weight:normal;}
.bianmin-g h3 i{ font-size:14px; color:#63C;}
.bianmin-g td{ padding:2px;}
.bianmin-g td li{ float:left; width:65px; padding:12px; background-color:#FFF; border:1px #CCCCCC solid; text-align:center; list-style:none; list-style-type:none}
.bianmin-g td li a{ font-size:15px;}




/*便民查询*/
.bianmin-icon{ padding:10px;}
.bianmin-icon td{ text-align:center; padding-top:10px;}
.bianmin-icon th{ text-align:center; padding-top:10px; padding-bottom:10px;}
.bianmin-icon th a{ font-size:14px; font-weight:normal;}
.bmicon{-moz-border-radius:60px; -khtml-border-radius:60px; -webkit-border-radius:60px; border-radius:60px; display:inline-block; width:40px; height:40px; text-align:center; padding:10px;}
.bmcol1{ background-color:#6CC43A; color:#FFF;}
.bmcol2{ background-color:#F7BF36; color:#FFF;}
.bmcol3{ background-color:#FF505C; color:#FFF;}
.bmcol4{ background-color:#52A0E8; color:#FFF;}
.bmcol5{ background-color:#43BBEF; color:#FFF;}
.bmcol6{ background-color:#7D7CC8; color:#FFF;}
.bmcol7{ background-color:#EECF40; color:#FFF;}
.bmcol8{ background-color:#FF8764; color:#FFF;}



/*社区商城*/
.shopclass{ padding-top:15px;}
.shopclass td{ text-align:center;}
.shopclass td img{ width:60px; height:60px;}
.shopclass th{ text-align:center; height:30px; line-height:30px;}
.shopclass th a{ font-size:15px; font-weight:normal; color:#808080;}
.shopclass th b{ font-size:15px; font-weight:normal; color:#C00;}

.shoplist{ padding:10px 5px;}
.shoplist h2{ height:30px; line-height:30px; text-align:center;}
.shoplist h2 i{ color:#63F;}
.shoplist h2 b{ font-size:18px; font-weight:normal;}
.shoplist td{ padding:5px; width:49%;}
.shoplist td li{ height:auto; overflow:hidden; background-color:#FFF; -moz-border-radius:6px; -khtml-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; list-style:none; list-style-type:none; padding:7px; margin:0 auto;}
.shoplist td li img{ width:100%; max-height:1650px; height: expresion(this.height > 1650 ? 1650px : ‘auto’;);}
.shoplist td li h3{ padding-top:3px; height:40px; overflow:hidden;}
.shoplist td li h3 a{ font-size:14px; height:40px; line-height:20px; color:#808080; font-weight:normal;}
.shoplist td li h4{ font-size:15px; color:#C00; line-height:30px;}



/*社区商城-分类页*/
.shopclassshow{ padding:10px;}
.shopclassshow h2{ height:30px; line-height:30px; text-align:center;}
.shopclassshow h2 i{ color:#63F;}
.shopclassshow h2 b{ font-size:18px; font-weight:normal;}

.shopclassshow ul li{ height:80px; background-color:#FFF; -moz-border-radius:6px; -khtml-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; list-style:none; list-style-type:none; padding:10px;}
.shopclassshow ul li th{ text-align:center; width:90px;}
.shopclassshow ul li th img{ width:80px; height:80px; -moz-border-radius:50px; -khtml-border-radius:50px; -webkit-border-radius:50px; border-radius:50px;}
.shopclassshow ul li td{ vertical-align:top; padding-left:8px;}
.shopclassshow ul li td h3{ font-size:17px; font-weight:normal; height:26px; line-height:26px; overflow:hidden;}
.shopclassshow ul li td h4{ font-size:12px; font-weight:normal; height:25px; line-height:25px; overflow:hidden; color:#777;}
.shopclassshow ul li td h4 i{ font-size:14px; width:15px; text-align:center;}
















